.main-container{
	height: auto;
}

.form-container{
	margin: 0 auto;
	margin-top: 5%;
	max-width: 800px;
	text-align: center;
}

.input-container{
	width: 100%;
	line-height: normal;
}

.in{
	display: inline-block;
}
