<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="">
            <meta name="author" content="">
            <title>{% block title %}Sho'n{% endblock title %}</title>
            <!-- Bootstrap core CSS -->
            <link href="{{ baseUrl }}/css/bootstrap.min.css" rel="stylesheet">
            <!-- Custom styles for this template -->
            <link href="{{ baseUrl }}/css/style.css" rel="stylesheet">
        {% endblock head %}
    </head>
    <body>
        <header class="pg-empty-placeholder">
            {% block header %}
                <nav class="navbar navbar-default">
                  <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="{{ baseUrl() }}">Sho'n</a>
                    </div>
                </nav>
            {% endblock header %}
        </header>
        <main class="main-container">
            {% block content %}
            {% endblock content %}
        </main>
            <footer class="pg-empty-placeholder">
                {% block footer %}
                {% endblock footer %}
            </footer>
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{ baseUrl }}/js/jquery.min.js"></script>
        <script src="{{ baseUrl }}/js/bootstrap.min.js"></script>
        <script src="{{ baseUrl }}/js/shn.js"></script>
    </body>
</html>
