{% extends 'main.twig' %}
{% block content %}
    <div class="form-container">
        <form class="form-inline form-container" id="url_form" action="/shn" method="post">
            <div class="input-container">
                <input name="url" type="text" class="form-control" id="url_input" style="width:85%" placeholder="Enter URL here...(e.g. http://www.test.com)">
                <input type="submit" class="btn btn-default" value="Sho'n" />
                <div class="shn-container">
                {% if shn is defined %}
                    Here's your sho'n url: <a href="http://{{ shn }}">{{ shn }}</a>
                {% else %}
                    I want my own custom short URL code. <a href="#" onclick="shn.createCustomCode()">Click Here!</a>
                    <div id="custom_short_cont" style="display:none">
                        Enter it here (min. 3 chars): <input name="short_code" type="text" id="custom_short_url" placeholder="Ex. MyCustomURL" onchange="shn.checkMinChars()" value="" />
                        <span id="validation_text"></span>
                    </div>
                {% endif %}
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
